<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <% if(user.avatar)  {%>
            <img src= <%= '/images/'+user.avatar %> class = "img-fluid " alt="Default avatar">
            <% }else  {%>
                <img src= '/images/profile.png' class = "img-fluid " alt="Default avatar">
            <% } %>    
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Profile </h1>
            <hr>
       
            <%- include('../partials/flashMessages') -%>    

            <p>
                <% if (user) { %>
                        Welcome your email <%= user.email %>
                <% } %>
            </p>   
            <form action="/users/uploadAvatar" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar" />
                <button type= "submit" class = "btn btn-primary">Upload</button>
            </form>  
        </div>
    </div>
</div>

    
<%- include('../partials/footer') -%>
