<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
    <div class="row mt-3 "> 
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    
                    <div class="card-body">
                        <% if (service.avatar) {%>  
                         <img src="<%= '/images/'+service.avatar; %>" alt="" width="50" height="50">  
                         <% }else  {%>
                            <img src="/images/profile.png" alt="" width="50" height="50">
                         <% } %>    
                      <p class="card-title">Nom & Prénom: <%= service.nom %> <%= service.prenom %></p>
                      <p class="card-text">Adresse: <%= service.adresse %></p>
                      <p class="card-text">Spécialité: <%= service.specialite %></p>
                      <p class="card-text">Téléphone: <%= service.telephone %> </p>
                      <p class="card-text">Mobile: <%= service.mobile %> </p>
                      <p class="card-text">Description: <%= service.description %></p>
                      
                    </div>
                </div>
            </div> 

    </div>
</div>

<%- include('../partials/footer'); -%>
