
<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
    <% arrServices.forEach( service => { %> 
        <div class="row mt-3 ">
            <% service.forEach( srv => { %> 
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        
                        <div class="card-body">
                            <% if (srv.avatar) {%>  
                             <img src="<%= '/images/'+srv.avatar; %>" alt="" width="50" height="50">  
                             <% }else  {%>
                                <img src="/images/profile.png" alt="" width="50" height="50">
                             <% } %>    
                          <h5 class="card-title"><%= srv.nom %> <%= srv.prenom %></h5>
                          <p class="card-text"><%= srv.description %></p>
                          <p class="card-text"><%= srv.specialite %></p>
                          <a href="<%= '/services/editProfile/'+srv.id ; %>" class="btn btn-primary">Show more</a>
                        </div>
                      </div>
                </div> 
            <% }); %>
        </div>
    <% }); %>

    
</div>
<div class="row">
    <div class="col-12 mt-2 mb-4">
        <nav aria-label="...">

            <ul class="pagination pagination-lg justify-content-center">
            <% for(var i = 1; i <= Math.ceil(total/5);i++) { %>  
                <% if (pageNo == i) { %>  
                 <li class="page-item active"><a class="page-link" href="<%= path+i %>"><%= i %></a></li>
                <% } else {%>
                 <li class="page-item"><a class="page-link" href="<%= path+i %>"><%= i %></a></li>
                <% } %>
            <% } %>
            </ul>
          </nav>
    </div>
</div>
<%- include('../partials/footer'); -%>
    
